#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#main {
  display: flex;
  justify-content: space-around;
}

#addTodoForm {
  width: 31%;
}

#todoTable {
  width: 59%;
}

h1 {
  text-align: center;
  color: #8d8ddd;
}

h2 {
  text-align: center;
  color: #9999ec;
}

form {
  width: 300px;
}

input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 4px;
}

.card {
  border-radius: 20px;
  background-color: #131320;
  width: 100%;
  padding: 8px;
  margin: 4px
}

.alignEnd {
  display: flex;
  width: 100%;
  justify-content: end;
}